@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Data Transfer";
}

<h2>Data_Transfer</h2>
<h2>Data from View Bag</h2>
<p>@ViewBag.data1</p>
<hr />
<h2>Data from View Data</h2>
<p>@ViewData["data2"]</p>
