@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Thirdrequest";
}

<h2>Thirdrequest</h2>

<h2> Flowers from Temp Data Object</h2>

@foreach (var f in TempData["flowers"] as List<string>)
{
    <p>@f</p>
}